 #p1,#p2,#p3,#div3{
                COLOR:BLUE;

            }
            #div1,#div2,#p4{
                color:red;

            }
            #p5{
                color:brown;
            }